*{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #030303;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: con;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #ffe600;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #d6d7ec;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form>div{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  box-sizing: border-box;
}
form>div>input{
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  outline: none!important;
  border-radius: 5px;
}
form>div>input:focus{
  border: 2px solid rgb(38, 0, 255);
}
main{
  margin: 0 auto;
  width: 60vw;
}



/*Botão de alterar e excluir*/

.Link-botao{
  color: #000000;
  
      }
   .Link-botao:hover{
        color: #ff0000;     
  }

  .excluir-botao{
    background-color: red;
    color: white  
}

/* Mechendo no display da tela de perfumes e clientes:*/
.form-alterar{
  background-color:  rgb(252, 252, 252);
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  padding: 2em;
  box-shadow: 0 0 10px rgba(248, 245, 245, 0.1);
  
}
.confirmar{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #ffe600;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(0, 0, 0);
}
.confirmar:hover {
  background-color: inherit;
  color: #ff0000;
  border-color: #ff3030;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
